# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
.pnpm-debug.log

# Build
dist/
build/
.tmp/
.temp/

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.*.local
.env.local

# Logs
logs/
*.log
log/
debug.log
error.log

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp

# Coverage (from Jest or other test tools)
coverage/

# NestJS CLI cache
.nest-cli.json